# Data handling & EDA
kagglehub
pandas
numpy
matplotlib
jupyter

# Computer Vision & AI Tools
opencv-python
ultralytics
scikit-learn

# Web Application & AI Chatbot
fastapi
uvicorn[standard]
google-genai